.summary {
  color: var(--academica-color-fg-base);
  font-family: var(--academica-font-serif);
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  max-width: var(--academica-size-charlimit-lg);
  margin: 0;
}

  .summary--card {}
