.summary {
  color: var(--em-color-fg-base);
  font-family: var(--em-font-serif);
  font-weight: 500;
  font-style: normal;
  font-optical-sizing: auto;
  max-width: var(--em-size-charlimit-lg);
  margin: 0;
  
  &--card {}
}