.menu {
  position: relative;
  /* border: 1.5px solid var(--academica-color-border-neutral-light);
  box-shadow: 1px 1px 4px 2px hsla(0, 0%, 60%, 0.25);
  border-radius: 18px; */
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-inline: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--academica-size-sm-inner-vert-component) var(--academica-size-sm-inner-horiz-component);
  
  &__item {
    font-size: var(--academica-size-text-small);
    border-inline-end: 1px solid var(--academica-color-border-neutral-light);
    padding: var(--academica-size-xs-inner-vert-component) var(--academica-size-xs-inner-horiz-component);
    
    &:last-child {
      border-inline-end: none;
    }
  }
  
  &__link {
    text-decoration: none;
    font-family: var(--academica-font-primary);
    font-weight: 700;
    
    color: var(--academica-color-fg-base);
    transition: var(--academica-transition-basic);
    
    &:hover,
    &:visited:hover {
      color: var(--academica-color-link-hover);
    }
  }
}