/*!
 *
 *
 */

/* Outermost div for the block, contains form and open/close button */
.search {
  position: relative;
  
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  margin-inline-start: auto;
  
  z-index: 3;
  
  .search-form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .input {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  
  .button {
    block-size: 100%;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  
  
  /********* DESKTOP DISPLAY ONLY  *********/
  @media (min-width: 992px) {
    & {
      //justify-content: stretch;
      align-items: stretch;
    }
    
    .search-form-wrapper {
      display: flex;
      align-items: stretch;
    }
  }
}






/* wrapper serves to hide the search form when it has search-closed transformX applied */
/* search-open and search-closed classes are added/removed from the wrapper */
/* .search-form-wrapper {
  position: relative;
  overflow-x: hidden;
  overflow-y: unset;
}

form {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;

  transition: var(--academica-transition-ease-in);
} */



/*** 'Search' button ***/
/* .button.js-form-submit {
  position: relative;
  margin: 0;
  border-radius: 0;
  block-size: 100%;
  padding-block: 0.5rem;
  border: 1px solid var(--academica-color-border-neutral-light);
} */

/*** Search form open/close button ***/
/* .button--search-openclose {
  position: relative;
  z-index: 2;
  margin: 0 auto;
  border-radius: 0;
  border: 1px solid transparent;
  border-inline-start: 1px solid var(--academica-color-border-primary-light);
  background-color: var(--academica-color-action-nav-bg-default);

  flex-direction: column;
  min-block-size: 100%;
  box-shadow: none;
} */


/* @media (max-width: 992px) {
  & {
    width: 100%;
  }

  .search-form-wrapper {
    width: 100%;
    display: block;
    background-color: var(--academica-color-action-nav-bg-default);
    box-shadow: var(--academica-shadow-003);
  }

  .form-item {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex-grow: 1;
  }

  form {
    width: 100%;
    inline-size: 100%;
    display: flex;
    justify-content: flex-end;
  }
   */
/* text input */
/* .form-search {
    flex-grow: 1;
    min-inline-size: 0;
    min-block-size: var(--academica-size-menu-item);
  }

  .button--search-openclose {
    display: none;
  }
}
} */

/****** Search open/close function ******/
/* .search-closed {
  form {
    transform: translateX(100%);
  }

  input {
    display: none;
  }
}

.search-openxx {
  form {
    transform: translateX(0);
  }

  input {
    display: inline-flex;
  }
} */

/*** Always show for mobile ***/
/* @media (max-width: 992px) {

  .search-closed,
  .search-open {
    form {
      transform: none;
      padding: 1.75rem 1.5rem;
    }

    input {
      display: inline-flex;
    }
  }
} */