
<div class="search" {% if attributes is not empty %}{{- attributes|raw -}}{% endif %}>
  <div class="search-form-wrapper" id="search-form-drawer" aria-expanded="false">

    {{ include ('academica:input', {
      type: 'search',
    }) }}

    {{ include ('academica:button', {
      kind: 'submit',
      type: 'ghost',
      text: 'search',
    }) }}

  </div>
</div>
