/* Outermost div for the block, contains form and open/close button */
.search {
  position: relative;
  inline-size: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  z-index: 3;
  padding: var(--academica-size-md-gap-component);
  
  .search-form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    inline-size: 100%;
  }
  
  form {
    display: flex;
    align-items: stretch;
    
    width: 100%;
    inline-size: 100%;
    display: flex;
    justify-content: flex-end;
    
    position: relative;
    z-index: 1;
    
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-end;
    
    transition: var(--academica-transition-ease-in);
  }
  
  /* form input and button */
  .input,
  .button {
    /* block-size: 100%; */
    max-block-size: var(--academica-size-nav-item);
    display: flex;
  }
  
  .input {
    flex: 2;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
    
    &:focus-visible {
      border-color: var(--academica-color-focus-indicator);
      outline-color: var(--academica-color-focus-indicator);
    }
    
    /*** prevent focus from firing on click ***/
    &:-webkit-focus-ring {
      border-color: transparent;
      outline: none;
      box-shadow: none;
    }
  }
  
  .button {
    flex: 0;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  
  /* search toggle button */
  .button--search-toggle {
    display: none;
  }
}


/********* DESKTOP DISPLAY ONLY  *********/
@media (min-width: 992px) {
  .search {
    justify-content: flex-end;
    
    form {
      inline-size: auto;
    }
    
    /* search toggle button */
    .button--search-toggle {
      display: flex;
      z-index: 2;
    }
    
    .search-form-wrapper {
      justify-content: flex-end;
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    
    .search-closed {
      form {
        transform: translateX(100%);
      }
    }
    
    .search-open {
      form {
        transform: translateX(0);
      }
    }
  }
}