/*** For putting CSS that hasn't been built into components yet ***/
/*** RESETS ***/
html {
  scroll-behavior: smooth;
  accent-color: var(--academica-color-action-primary-default);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--academica-color-bg-base);
  
  color: var(--academica-color-fg-base);
  font-display: swap;
  font-family: var(--academica-font-primary);
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

*,
div {
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

pre {
  display: block;
  white-space: pre-wrap;
}

/* ensure footer does not cover main content */
.page {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
}

main {
  flex: 1;
}

/*** Utilities ***/
.sr-only {
  font-size: 0;
  line-height: 0;
  height: 0;
  width: 0;
  position: absolute;
  margin: 0;
  padding: 0;
  color: transparent;
}

.m-0 {
  margin: 0;
}

/*** Typography resets ***/
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--academica-color-fg-base);
  font-family: var(--academica-font-secondary);
  font-weight: 700;
  font-style: normal;
  font-optical-sizing: auto;
  max-width: var(--academica-size-charlimit-lg);
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

h1,
.h1 {
  font-size: 3.3rem;
  line-height: 1;
}

h2,
.h2 {
  font-size: 2.2rem;
  line-height: 1.11;
  margin-block-start: 1.5rem;
}

h3,
.h3 {
  font-size: 2rem;
  line-height: 1.1;
  margin-block-start: 1rem;
}

h4,
.h4 {
  font-size: 1.7rem;
  line-height: 1.1;
  margin-block-start: 1rem;
}

h5,
.h5 {
  font-size: 1.4rem;
  line-height: 1.2;
  margin-block-start: 0.5rem;
}

h6,
.h6 {
  font-size: 1.1rem;
  line-height: 1.3;
  margin-block-start: 0.5rem;
}


p {
  font-weight: 400;
}

/*** TODO - titles for navs ***/
nav h2 {
  background-color: var(--academica-color-bg-primary);
  color: var(--academica-color-fg-white-static);
  padding: 0.75rem 1rem;
  font-size: 1.6rem;
  font-family: var(--academica-font-secondary);
  font-weight: 600;
  border-start-start-radius: var(--academica-size-radius-med);
  margin: 0;
}