.card {
  position: relative;
  width: 100%;
  max-width: calc(var(--academica-size-container-width) * 0.5);
  min-width: 320px;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--academica-size-inner-vert-component);
  margin-block: 2rem;
  border-block-start: 4px solid var(--academica-color-border-secondary-light);
  box-shadow: var(--academica-shadow-002);
  border-end-end-radius: var(--academica-size-radius-med);
  border-end-start-radius: var(--academica-size-radius-med);
  
}
  
  .card__content {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    gap: var(--academica-size-inner-vert-component);
    width: 100%;
    padding: 1rem;
    padding: var(--academica-size-inner-horiz-component);
  }
  
  .card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--academica-size-inner-vert-component);
    width: 100%;
  }
  
  .card__title {}
  
  .card__summary {}
  
  .card__image {}
  
  .card__button {
    margin: 1rem;
    margin-inline-start: auto;
  }
  
  /*** Variants **/
  
  .card--small {
    max-width: calc(var(--academica-size-container-width) * 0.25);
    min-width: 160px;
  }
  
  .card--horizontal {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: flex-start;
  }