/*** TBD - integrate menu button into main menu instead ***/
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
/********* Mobile nav - open/close Toggle *********/
.header .button--menu-toggle.is-open .is-open-text,
    .header .button--menu-toggle.is-open .menu-close-icon {
      opacity: 1;
      display: flex;
    }
.header .button--menu-toggle.is-open .is-closed-text,
    .header .button--menu-toggle.is-open .menu-open-icon {
      opacity: 0;
      display: none;
    }
.header .menu--main {
    background-color: var(--academica-color-action-nav-bg-default);
  }
.header .menu-item {
    box-shadow: var(--academica-color-bg-base) 0 1.5px 0 1.5px;
  }
/*** Desktop size - Mobile Responsive Menu Drawer ***/
@media (min-width: 993px) {
.header {
    
    /* we don't need the menu toggle on desktop sizes */
}
    .header .button--menu-toggle {
      visibility: hidden;
    }
    
    .header .menu--main {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }
  }
/*** Mobile size - Mobile Responsive Menu Drawer ***/
@media (max-width: 992px) {
    .header .button--menu-toggle {
      visibility: visible;
      z-index: 3;
    }
    
    .header .menu-closed .menu--main {
      transform: translateX(100%);
    }
    
    .header .menu--wrapper {
      width: 100%;
      height: auto;
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100vh);
    }
    
    .header .menu--main {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      width: 100%;
      z-index: 999;
      transition: var(--academica-transition-smooth);
      /* margin-block-start: var(--academica-size-mobile-menu-toggle); */
    }
    
    .header .menu-item {
      box-shadow: var(--academica-color-bg-base) 0 0 0 1.5px;
    }
    
    .header .main-menu-content-wrapper {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      z-index: 999;
      transition: var(--academica-transition-smooth);
    }
      
      .header .main-menu-content-wrapper.menu-opened {
        transform: translateX(0);
      }
      
      .header .main-menu-content-wrapper.menu-closed {
        transform: translateX(105%);
      }
    
    .header .menu--main {
      block-size: auto;
      inline-size: 100%;
      min-inline-size: 100%;
    }
      
      .header .menu--main span,
      .header .menu--main a {
        white-space: wrap;
      }
    
    .header .menu--main .menu {
      flex-direction: column;
    }
    
    .header .menu--main .menu .menu--wrapper {
      position: relative;
      min-height: auto;
      z-index: 1;
      inline-size: 100%;
    }
    
    .header .menu--main .menu-item--expanded .menu {
      margin-block-start: 0;
    }
    
  }