i,
.icon {
  color: var(--academica-color-fg-secondary);
  display: inline-block;
  height: var(--academica-size-block-component-base);
  width: var(--academica-size-block-component-base);

  /*** Variants - size ***/
  &--extra-small {
    block-size: calc(var(--academica-size-block-component-base) * 0.35);
    inline-size: calc(var(--academica-size-block-component-base) * 0.35);
  }

  &--small {
    block-size: calc(var(--academica-size-block-component-base) * 0.65);
    inline-size: calc(var(--academica-size-block-component-base) * 0.65);
  }

  &--medium {
    height: var(--academica-size-block-component-base);
    width: var(--academica-size-block-component-base);
  }

  &--large {
    block-size: calc(var(--academica-size-block-component-base) * 1.25);
    inline-size: calc(var(--academica-size-block-component-base) * 1.25);
  }
}
